/* CSS Document */

/* Colors: 

dark gray: #545861
gray: #9BA2B3
light gray: #C3CCE0
dark blue: #374461
light blue: #919EE6
*/

* {
	margin: 0;
	border: 0;
	padding: 0;
	color: #374461;
}

body {
	background-image: url("../images/serverroom.jpg");
	background-position: center;
	background-attachment: fixed;
}

.heading {
	text-align: center;
	font-size: 3vw;
	box-shadow: 5px 5px 10px #545861;
	border: 5px solid #374461;
	border-radius: 50px;
	width: 50%;
	margin: .6% 25%;
	background-color: #C3CCE0;
}

.btn {
	background-color: #919EE6;
	padding: 2%;
	text-decoration: none;
	border: 5px solid #374461;
	border-radius: 10px;
	opacity: .8;
}

.btn:hover {
	opacity: 1;
}

section, nav {
	padding: 1.5% 0;
	background-color: #C3CCE0;
}

.txt {
	text-align: center;
	font-size: 2.5vw;
}

/* style rules for nav */
nav {
	border-top: 5px solid #374461;
	border-bottom: 5px solid #374461;
	width: 100%;
	margin-top: 2%;
	font-size: 2.5vw;
	padding: .3%;
}

nav li {
	display: inline-block;
	width: 30%;
	text-align: center;
}

nav a {
	text-decoration: none;
	font-weight: bold;
	opacity: .8;
}

nav a:hover {
	opacity: 1;
}

/* style rules for the header */
header h1 {
	display: block;
	width: 40%;
	text-align: center;
	margin: 0 auto;
	font-size: 2vw;
	padding: .5%;
}

/* style rules for the introduction */

#intro {
	width: 85%;
	margin: 5% auto auto;
	border: 10px solid #374461;
	border-radius: 20px;
}

/* style rules for the about me section */

#abtme {
	margin: 5%;
	border: 10px solid #374461;
	border-radius: 20px;
	padding-bottom: 23%;
}

#abtme .btn {
	font-size: 2vw;
	padding:.2%;
	margin: 2%;
}

#abtme .txt {
	padding: 0 2%;
	width: 60%;
	float: left;
}

#abtme img {
	width: 36%;
	float: right;
}

/* style rules for the work section */

#work {
	border: 10px solid #374461;
	border-radius: 20px;
	width: 85%;
	display: grid;
	grid-template-columns: 35% 35%;
	grid-template-areas: 
		"it1 it1"
		"it2 it3"
		"it4 it5";
	justify-content: center;
	grid-gap: 10% 2%;
	text-align: center;
	font-size: 3vw;
	margin: 0 7.5%;
	padding-bottom: 13%;
}

#work h2 {
	grid-area: it1;
}

#beagles {
	grid-area: it2;
}

#nintendo {
	grid-area: it3;
}

#ffitness {
	grid-area: it4;
}

#xmas {
	grid-area: it5;
}

#work figure img {
	width: 98%;
	border-radius: 20px;
	margin: 1%;
}

#work figure {
	border-radius: 20px;
	border: 5px solid #374461;
	background-color: #9BA2B3;
	opacity: .9;
	position: relative;
}

#work figure:hover {
	opacity: 1;
}

#work figcaption {
	display: block;
	text-align: center;
	width: 100%;
	position: absolute;
	margin: 1%;
}

#work a {
	text-decoration: none;
}

/* style rules for the footer */
	
#copyright {
	text-align: center;
}