/*
Author: Corbin Gardner
Date: 10/21/2022
File Name: styles.css

font-family: 'Francois One', sans-serif;
font-family: 'Roboto Slab', serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Roboto+Slab:wght@400;700;900&display=swap');

/*CSS Browser Reset*/
body, header, nav, main, footer, h1, div, img, ul, figure, figcaption, section, article, aside, video, audio {
	padding: 0;
	margin: 0;
	border: 0;
}

/* Style rules for body and images */
body {
	background: #000;
}

/*style rules for mobile viewport*/

/* Style rules for the header */
header {
	top: 0;
	background-color: #000;
	height: 190px;
}

header img {
	margin: 0 auto;
}

/* Style rules for hamburger menu */
.mobile-nav a {
	color: #fff;
	font-family: 'Francois One', sans-serif;
	text-align: center;
	font-size: 2em;
	text-decoration: none;
	padding: 3%;
	display: block;
}

.mobile-nav a.menu-icon {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}


/* style rules for main content */
main {
	clear: both;
	background-color: #fff;
	padding: 2%;
	font-size: 1.15em;
	font-family: 'Roboto Slab', serif;
}

.mobile h3 {
	text-shadow: 5px 5px 5px #ccc;
}

article {
	padding: 2%;
}

article h3{
	text-align: center;
}

article img {
	margin: 0 auto;
}

article ul {
	margin-left: 10%;
}

article:nth-of-type(2) {
	/* background-color: rgba(204, 204, 204, .3) */
	background-color: #aaaaaa33;
}

.tel-link {
	background-color: #404040;
	padding: 2%;
	margin: 0 auto;
	width: 80%;
	text-align: center; 
	border-radius: 10px;
}

.tel-link a {
	color: #fff;
	text-decoration: none;
	font-size: 1.5em;
	display: block;
}

.hours {
	margin-left: 10%
}


/* Show mobile class, hide tablet-desktop class and menu-links id */
.mobile {
	display: block;
}

.tablet-desktop, #menu-links {
	display: none;
}

video {
	margin: 0 auto 4%;
}


/* Style rules for images */
img, video {
	max-width: 100%;
	display: block;
}

/* Style rule for box sizing applies to all elements */

* {
	box-sizing: border-box;
}

#weights, #cardio, #training {
	margin: 0 2%;
}

.round {
	border-radius: 8px;
}

/* Style rules for the footer */


.external-link{
	color: #00a9ff;
	text-decoration: none;
}

#contact {
	text-align: center;
}

#contact .contact-email-link {
	color: #00A9FF;
	text-decoration: none;
}

.map {
	border: 2px solid #000;
	width: 95%;
	height: 50%;
}

.action {
	font-size: 1.35em;
	color: #00a9ff;
	font-weight: bold;
	text-shadow: 5px 5px 5px #ccc;
}

.frame {
	position: relative;
	max-width: 450px;
	margin: 2% auto;
}

.pic-text {
	position: absolute;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	width: 100%;
	padding: 20px;
	text-align: center;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}

#form {
	margin-top: 2%;
	background-color: #f2f2f2;
	padding: 2%;
}

#form h2 {
	text-align: center;
}

/* Style rules for form elements */

fieldset, inputs, select, textarea {
	margin-bottom: 2%;
}

fieldset legend {
	font-weight: bold;
	font-size: 1.25em;
}

label {
	display: block;
	padding-top: 3%;
}

form #submit {
	margin: 0 auto;
	border: none;
	display: block;
	padding: 2%;
	background-color: #b3b3b3;
	font-size: 1em;
	border-radius: 10px;
}

/* Media query for tablet viewports */

@media screen and (min-width: 630px), print {
	.tablet-desktop{
		display: block;
	}
	
	.mobile {
		display: none;
	}
	
	/* Tablet viewport style rule for header */
	
	header {
		padding-bottom: 2%;
	}
	
	/* Tablet viewport style rule for navigation */
		nav {
		padding: 1%;
		margin-bottom: 1%;
	}
	
	nav ul{
		list-style-type: none;
		margin: 0;
		text-align: center;
	}
	
	nav li {
		border-top: none;
		font-family: 'Francois One', sans-serif;
		display: inline-block;
		border-right: 1px solid #fff;
	}
	
	nav li:last-child{
		border-right: none;
	}
	
	nav li a {
		padding: .1em .75em;
		display: block;
		color: #fff;
		text-decoration: none;
}
	}
	
	/* Tablet viewport style rules for main content */
	
	main ul {
		margin: 0 0 4% 10%;
	}
	
	.grid {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
	}
	
	.pic-text {
		font-size: 1em;
		padding: 10px;
	}
	
	aside {
		text-align: center;
		font-size: 1.25em;
		font-size: italic;
		font-weight: bold;
		padding: 2%;
		background-color: #aaaaaa33;
		box-shadow: 5px 5px 8px #000;
		text-shadow: 5px 5px 5px #b3b3b3;
		border-radius: 0 15px;
	}
	
	.grid-item4 {
		grid-column: 1 / span 3;
	}
	
	
 /* Closing tablet 630px media query */

	 #exercises {
		clear: left;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		background: linear-gradient(to right, #ccc, #fff);
		padding: 1% 2%;
	}

	#exercises dt {
		font-weight: bold;
	}

	#exercises dd {
		padding: .5% 1% 2% 0%;
	} 

	.viewex {
		font-weight: bold;
		cursor: pointer;
	}

	#example {
		display: none;
	}
	
	.tel-num {
		font-size: 1.25em;
	}
	
	.map {
		width: 600px;
		height: 450px; 
	}
	
	/* Tablet Viewport: Style rules for table */
	table {
		border: 1px solid #000;
		border-collapse: collapse;
		margin: 0 auto;
		width: 100%;
	}
	
	caption {
		font-size: 1.5em;
		font-weight: bold;
		padding: 1%;
	}
	
	th, td {
		border: 1px solid #000;
		padding: 2%;
	}
	
	th {
		background-color: #000;
		color: #fff;
		font-size: 1.15em;
	}
	
	tr:nth-child(odd){
		background-color: #ccc;
	}
	
	/* Tablet Viewport: Style rule for form element */
	
	form {
		width: 70%;
		margin: 0 auto;
	}
	
	/* Tablet Viewport: Animation */
	@-webkit-keyframes text-animation { /* Old Browsers */
		0% { font-size: 1em; }
		50% { font-size: 2em; }
		100% { font-size: 1.35em; }
		}

	@keyframes text-animation {
		0% { font-size: 1em; }
		50% { font-size: 2em; }
		100% { font-size: 1.35em; }
	}
	
	figcaption {
		-webkit-animation-name: text-animation;
		animation-name: text-animation;
		-webkit-animation-delay: 3s;
		animation-delay: 3s;
		-webkit-animation-duration: 5s;
		animation-duration: 5s;
	}
	
}/* Closing tablet 630px media query */

/* Media query for desktop viewport */

@media screen and (min-width: 1020px), print {
	
	/* Desktop viewport style rules for header */
	
	header {
		width: 25%;
		float: left;
		padding-bottom: 0;
	}
	
	/* Desktop viewport styles rules for navigation */
	
	nav {
		float: right;
		width: 70%;
		margin: 4em 1em 0 0;
	}
	
	nav ul {
		text-align: right;
	}
	
	nav li {
		border: none;
	}
	
	nav li a {
		padding: .5em 1em;
	}
	
	nav li a:hover {
		color:#000;
		background-color:#fff;
		transform: scale(1.3);
	}
	
	/* Desktop viewport style rules for main content */
	
	main {
		clear: both;
	}
	
	main h1 {
		font-size: 1.8em;
	}
	
	.pic-text{
		font-size: 1.5em;
		padding: 20px;
	}
	
	.frame {
		opacity: 0.9;
	}
	
	.frame:hover {
		opacity: 1;
		box-shadow: 8px 8px 10px #808080;
		transform: translateY(10px);
	}
	
	#weights, #cardio, #training {
		width: 29%;
		float: left;
		margin: 0 2%;
	}
	
	#exercises {
		clear: left;
	}
	
	/* Desktop Viewport: Style rules for form elements */
	
	form {
		width: auto;
	}
	
	.form-grid {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-gap: 20px;
	}
	
	.btn {
		grid-column:1 / span 3;
	}
	
} /* Closing desktop media query */

/* Media query for large desktop viewports and beyond */

@media screen and (min-width: 1921px){
	#container {
		width: 1920px;
		margin: 0 auto;
	}
	
	table {
		width: 80%;
	}
	
} /* Closing large desktop media query */

/* Media query for print */

@media print {
	body {
		background-color: #fff;
		color: #000;
	}
}

footer .copyright {
	font-size: .75em;
	text-align: center;
	color: #fff;
	padding: 2% 4%;
	width: 75%;
	float: left;
}

footer p a {
	color: #fff;
	text-decoration: none;
}

.social {
	float: right;
	width: 20%;
	padding: 2%;
}

.social img {
	padding: 5%;
	display: inline-block;
}