/* CSS Document 

#729AF7
#6C92EB
#6B92EB
#4F6AAB
#2D4C80

#F9F3F0
#E0DAD7

font-family: 'Poiret One', cursive;
font-family: 'Quicksand', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@300&display=swap');

* {
	border: 0;
	margin: 0;
	padding: 0;
}

body {
	background:linear-gradient( #C3CCE2, #E0DAD7);
}

header {
	position: fixed;
	width: 100%;
	opacity: .2;
	transition-duration: .5s;
	background: linear-gradient( #729AF7, #E0DAD7);
}

header:hover {
	opacity: 1;
}

header ul {
	display: none;
	background: linear-gradient( #C3CCE2, #E0DAD7);
	width: 600%;
	border-radius: .5vw;
}

header li {
	list-style-type: none;
}

header a {
	text-decoration: none;
	font-size: 2vw;
	transition-duration: .3s;
	font-family: 'Poiret One', cursive;
}

header a:hover {
	font-size: 2.1vw;
	text-shadow: -.15vw .15vw .2vw #000;
}

header nav {
	position: absolute;
	text-align: center;
	width: 2%;
	margin: 2%;
}

#burger {
	border-radius: .2vw;
	padding: 1%;
	outline: solid .2vw #2D4C80;
	width: 110%;
	text-align: center;
}

header nav:hover ul {
	display: block;
	transition-duration: 5s;
}

header nav:hover #burger {
	outline: none;
}

#title {
	color: #2D4C80;
	width: 100%;
	text-align: center;
	padding: 1% 0;
	font-size: 4vw;
}

h1 {
	font-family: 'Poiret One', cursive;
}

table {
	width: 80%;
	margin: 0 10%;
	outline: solid .2vw #4F6AAB;
	background: linear-gradient( #E0DAD7, #C3CCE2);
}

h2 {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 3vw;
}

#table_title {
	width: 100%;
}

td {
	display: inline-block;
	width: 46%;
	margin: 3% 2%;
}

td p {
	line-height: 1.4vw;
	font-family: 'Poiret One', cursive;
	font-size: 1vw;
}

td img {
	width: 100%;
	outline: double 1vw #2D4C80;
	border-radius: 1vw 0;
}

#history_img1 {
	margin-bottom: 80%;
}

#history_img2 {
	margin-top: 80%;
}

#locks_img2 {
	margin-top: 10%;
}

h4 {
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

.btn {
	text-align: center;
	padding: 2%;
	margin-left: 30%;
}

.btn:active {
	background-color: #E0DAD7;
}

.btn, .input {
	border-radius: .5vw;
	font-size: 2vw;
	font-family: 'Poiret One', cursive;
}
